
@font-face {
     font-family: 'Stencil';
     src:url('./fonts/ruler_stencil/stencilLight.ttf') 
   }


   @font-face {
     font-family: 'StencilThin';
     src:url('./fonts/ruler_stencil/Ruler\ Stencil\ Thin.ttf') 
   }



   @font-face {
     font-family: 'Cocogoose';
     src:url('./fonts/cocogoose/Cocogoose\ Pro\ Light-trial.ttf') 
   }

#App {
     padding:0 5em;
  
}

.hideButtons{
     display:none !important;
}

.hideButtons{
     display:none !important;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     80%{
      box-shadow: 0 0 0 65px #FC7A3D;
     }
     100% {
          box-shadow: 0 0 0 0px rgba(255,255,255,0.6);
     }
}

.stencilLight{
     font-family: Stencil
}

.stencilThin{
     font-family: StencilThin
}


.cocoGoose{
     font-family: Cocogoose
}

body{  
  background:black;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font-family: 'Archivo', sans-serif;
}

.selectedButton{
  border:.2em solid rgb(219, 219, 219);
}
.selectedButton:focus {outline:0;}

.selectedMenuButton{
     border:.2em solid rgb(219, 219, 219);
     background-color:rgb(127,127,127) !important;
   }

   .selectedMenuButton:focus {outline:0;}
   

.button{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.homeLink{
     color:white;
}

.homeLink:hover{
     color:white;
     text-decoration: none;
}

.headerButton{
     border:0px;
     font-size: 2vw;
     cursor: pointer;
     background-color: black;
     color:white;
     transition: 300ms;
     padding:.2em;
     margin-bottom: 1em;
     border-radius: 25px 25px 0 0;
}

.headerButton:hover{
     background-color:rgb(219, 219, 219);
     color:black;
}    

.selectedHeaderButton{
     border-bottom: 3px solid rgb(219, 219, 219);
     }

.button:hover { 
  background-color:rgb(253,254,232) !important;
  color:#252E4F !important;
}

.pulse{
       animation: shadow-pulse 1.5s infinite;
  }
  
