#App {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color:rgb(0, 0, 0);
  animation-duration: 10s;
  animation-iteration-count: infinite;
  font-family: "Raleway", sans-serif;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     80%{
      box-shadow: 0 0 0 65px #FC7A3D;
     }
     100% {
          box-shadow: 0 0 0 0px rgba(255,255,255,0.6);
     }
}

body{
  background-color:#252E4F;
  font-family: "Noto Sans", sans-serif;
}

.selectedButton{
  border:.2em solid #FC7A3D;
}
.selectedButton:focus {outline:0;}

.button{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color:rgb(253,254,232) !important;
  color:#252E4F !important;
}

.pulse{
       animation: shadow-pulse 1.5s infinite;
  }
  
