@keyframes background-shift
{
     0% {
          background-color:rgb(0,0,0)
     }
     50%{
      background-color: #252E4F;
     }
     100% {
      background-color: rgba(0,0,0);
     }
}

@font-face {
  font-family: 'Archive';
  font-style: normal;
  font-weight: 400;
  src: local('Archive'), local('Archive'),
       url('./fonts/Archive/Archive-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

#App {
  background-size: 100%;
  background-repeat: no-repeat;
  animation: background-shift;
  background-position: center;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font-family: Archive;
}

@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
     }
     80%{
      box-shadow: 0 0 0 65px #FC7A3D;
     }
     100% {
          box-shadow: 0 0 0 0px rgba(255,255,255,0.6);
     }
}



body{
  background-color:#252E4F;
}

.selectedButton{
  border:.2em solid #FC7A3D;
}
.selectedButton:focus {outline:0;}

.button{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover { 
  background-color:rgb(253,254,232) !important;
  color:#252E4F !important;
}

.pulse{
       animation: shadow-pulse 1.5s infinite;
  }
  
